<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.goods.mapper.GoodsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.bh.goods.pojo.GoodsCategory" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="reid" property="reid" jdbcType="BIGINT" />
    <result column="sortnum" property="sortnum" jdbcType="SMALLINT" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="BIT" />
    <result column="is_last" property="isLast" jdbcType="BIT" />
    <result column="series" property="series" jdbcType="SMALLINT" />
    <result column="ad_id" property="adId" jdbcType="INTEGER" />
    <result column="is_jd" property="isJd" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, reid, sortnum, image, flag, is_last, series, ad_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from goods_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bh.goods.pojo.GoodsCategory" >
    insert into goods_category (id, name, reid, 
      sortnum, image, flag, 
      is_last, series, ad_id, isJd)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{reid,jdbcType=BIGINT}, 
      #{sortnum,jdbcType=SMALLINT}, #{image,jdbcType=VARCHAR}, #{flag,jdbcType=BIT}, 
      #{isLast,jdbcType=BIT}, #{series,jdbcType=SMALLINT}, #{adId,jdbcType=INTEGER}, #{isJd,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.goods.pojo.GoodsCategory" >
    insert into goods_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="reid != null" >
        reid,
      </if>
      <if test="sortnum != null" >
        sortnum,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="isLast != null" >
        is_last,
      </if>
      <if test="series != null" >
        series,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="isJd != null" >
        is_jd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reid != null" >
        #{reid,jdbcType=BIGINT},
      </if>
      <if test="sortnum != null" >
        #{sortnum,jdbcType=SMALLINT},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
      <if test="isLast != null" >
        #{isLast,jdbcType=BIT},
      </if>
      <if test="series != null" >
        #{series,jdbcType=SMALLINT},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="isJd != null" >
        #{isJd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.goods.pojo.GoodsCategory" >
    update goods_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reid != null" >
        reid = #{reid,jdbcType=BIGINT},
      </if>
      <if test="sortnum != null" >
        sortnum = #{sortnum,jdbcType=SMALLINT},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="isLast != null" >
        is_last = #{isLast,jdbcType=BIT},
      </if>
      <if test="series != null" >
        series = #{series,jdbcType=SMALLINT},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
       <if test="isJd != null" >
        is_jd = #{isJd,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.goods.pojo.GoodsCategory" >
    update goods_category
    set name = #{name,jdbcType=VARCHAR},
      reid = #{reid,jdbcType=BIGINT},
      sortnum = #{sortnum,jdbcType=SMALLINT},
      image = #{image,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=BIT},
      is_last = #{isLast,jdbcType=BIT},
      series = #{series,jdbcType=SMALLINT},
      ad_id = #{adId,jdbcType=INTEGER},
      is_jd = #{isJd,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="countAll" resultType="java.lang.Integer" parameterType="com.bh.goods.pojo.GoodsCategory" >
    select count(*)
    from goods_category
    <where>
    	name like CONCAT(CONCAT('%', #{0}), '%') and reid = #{1}
    </where>
  </select>
  
  <select id="delectCount" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(*)
    from goods_category
    where reid = #{reid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParent" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name
    from goods_category
    where reid = #{reid,jdbcType=BIGINT} and flag = 1 order by sortnum
  </select>
  
    <select id="getListByFirstReid" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory" >
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where id in (select id from goods_category where name like CONCAT(CONCAT('%', #{0}), '%')
    and reid = #{3} order by sortnum asc
    ) limit #{1}, #{2}
  </select>
  
   <select id="getFirstLevelList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods_category
    where reid = 0 and flag = 1 and series = 1 and is_jd = 0
    order by sortnum asc
  </select>
  
  <select id="getByLevel" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select
    <include refid="Base_Column_List" />
    from goods_category
    where 1=1
    <if test="series!=null and series!= ''">
    	and series = #{series}
    </if>
    and is_jd = 0
    order by sortnum asc
  </select>
  
  <select id="getByReid" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select
    <include refid="Base_Column_List" />
    from goods_category
    where 1=1
    <if test="reid!=null and reid!= ''">
    	and reid = #{reid}
    </if>
    and is_jd = 0
    order by sortnum asc
  </select>


<insert id="insertParent" parameterType="java.util.Map" >
    insert into goods_category (id, name, reid, sortnum, image, flag) values ${insertParent}
  </insert>
  
  <select id="homeZeroList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where 
    id !=20180325170159
    and reid = #{reid,jdbcType=BIGINT} and flag = 1 order by sortnum desc limit 6 
  </select>
  
  <select id="homeOneList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where reid = #{reid,jdbcType=BIGINT} and flag = 1 order by sortnum desc limit 4
  </select>
  
  <select id="homeTwoList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where reid = #{reid,jdbcType=BIGINT} and flag = 1 order by sortnum desc limit 10
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_category where flag = 1
   </select>  
   
   <select id="selectThreeLevel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where series = 3 and flag = 1 and is_jd = 0
   </select> 
   
   <select id="selectLastLevel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where is_last = 1 and flag = 1 and is_jd = 0
   </select> 
   
   <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where name = #{name,jdbcType=VARCHAR}
   </select>
   
   <select id="getListByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where name = #{name,jdbcType=VARCHAR} and series = 3
   </select>
   
    <select id="selectUpdateByName" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
    where name = #{name} and series = #{series}
    and id <![CDATA[<>]]>#{id} and is_jd = 0
   </select> 
   
   
   <resultMap id="MyBaseResultMap" type="com.bh.goods.pojo.MyGoodsCategoryPojo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
  </resultMap>
   <select id="selectTopSix" resultMap="MyBaseResultMap">
    select 
    c.id as id,c.name as name,c.image as image
    from goods_category c
    where  c.id !=20180325170159 and c.series = 1 and c.flag = 1 limit 0,6
   </select>
   
   <select id="batchSelect" resultMap="BaseResultMap" parameterType="java.util.List">
      select
      <include refid="Base_Column_List" />
      from goods_category
      where id in
      <foreach item="id" collection="list" open="(" close=")" separator=",">
          #{id}
      </foreach>
      and series = 3 and flag = 1 and is_jd = 0
   </select>
   
   <select id="selectAllByParent" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from goods_category
    where reid = #{reid,jdbcType=BIGINT}
  </select>
   
    <select id="getCatesByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT t2.*
	    FROM ( 
	        SELECT 
	                @r AS _id, 
	                (SELECT @r := id FROM goods_category WHERE reid = _id ) AS parent_id
	        FROM 
	                (SELECT @r := #{reid}) as condi_id, 
	                goods_category 
	        ) t1 
	    JOIN goods_category t2 
	    ON t1._id = t2.reid 
	    where t2.is_last = 1 UNION SELECT t3.* from goods_category as t3 where t3.id = #{reid} and t3.is_last=1
	    
   </select>
   
   <select id="getByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_category
    where name = #{name}
  </select>
  
   <select id="selectAllByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from goods_category 
   </select>
   
   <select id="selectAllByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from goods_category where reid = #{reid,jdbcType=BIGINT} and is_jd = 0 and flag=1
    <!-- xieyc 加入排序 2018.1.16 -->
    order by sortnum 
   </select>
   
   <select id="getNextByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from goods_category where reid = #{reid,jdbcType=BIGINT} and flag = 1 and is_jd=0 order by sortnum
   </select>
   
   <select id="getBySeries" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select 
    <include refid="Base_Column_List" />
    from goods_category where series = #{series}
    <if test="name!=null and name!=''">
    	and name like CONCAT(CONCAT('%', #{name}), '%')
    </if>
    and is_jd = 0
    <!-- xieyc 加入排序 2018.1.16 -->
    order by sortnum asc
   </select>
   
   <select id="selectByNameAndSeries" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select 
    <include refid="Base_Column_List" />
    from goods_category where name= #{0} and series = #{1} and reid = #{2} and is_jd = #{3}
   </select>
   
   <select id="insertselectByName" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.GoodsCategory">
    select 
    <include refid="Base_Column_List" />
    from goods_category where name= #{0} and series = #{1} and is_jd = #{2}
   </select>
   
   <!-- cheng -->
    <select id="selectLastLevel1" resultMap="BaseResultMap">
 	select c.*,count(c.id) as count
 	from goods_category c,goods g,goods_favorite f 
 	where is_last = 1 and flag = 1
 	and f.m_id= #{reid,jdbcType=BIGINT}
 	and f.goods_id=g.id and g.cat_id=c.id 
 	and g.`status`=5
	and g.visible=0
 	GROUP BY id 
   </select> 
    <select id="selectGoodsCategoryById" resultMap="BaseResultMap">
 	select c.*,count(c.id) as count
 	from goods_category c,member_shop_favorite s,member_shop m
 	where 1=1
 	and s.m_id= #{reid,jdbcType=BIGINT} and c.id = m.cat_id and s.shop_id=m.m_id
  GROUP BY id 
   </select>
     <select id="selectHistoryCategory" resultMap="BaseResultMap">
 	select c.* ,count(c.id) from member_user_access_log l, goods g,goods_category c
 	where 1=1
 	and l.m_id= #{reid,jdbcType=BIGINT} 
 	and l.goods_id=g.id and g.cat_id=c.id
 GROUP BY c.id
   </select>
    <select id="selectCategoryByreid" resultMap="BaseResultMap">
        select * from goods_category where reid=0 and is_jd=0
   </select>
   <!-- end  程凤云 -->
   
    <!-- zlk -->
   <select id="selectAllCategory" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from goods_category and is_flag = 1 and is_jd=0
  </select>
    <!--  zlk-->
  
   
   
   
   
   
</mapper>