<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.goods.mapper.GoodsAttrMapper" >
  <resultMap id="BaseResultMap" type="com.bh.goods.pojo.GoodsAttr" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, attr_id, attr_value, model_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_attr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_attr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.goods.pojo.GoodsAttr" >
    insert into goods_attr (id, goods_id, attr_id, 
      attr_value, model_id)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{attrId,jdbcType=INTEGER}, 
      #{attrValue,jdbcType=VARCHAR}, #{modelId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.goods.pojo.GoodsAttr" >
    insert into goods_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.goods.pojo.GoodsAttr" >
    update goods_attr
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="attrId != null" >
        attr_id = #{attrId,jdbcType=INTEGER},
      </if>
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.goods.pojo.GoodsAttr" >
    update goods_attr
    set goods_id = #{goodsId,jdbcType=INTEGER},
      attr_id = #{attrId,jdbcType=INTEGER},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getListByAttrId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from goods_attr
    where attr_id = #{attrId,jdbcType=INTEGER}
  </select>
  
  
  
  <select id="getListByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select DISTINCT a.model_id ,b.name modelName
    from goods_attr a left JOIN  goods_model b on a.model_id=b.id
    where goods_id = #{goodsId,jdbcType=INTEGER}
    order by a.attr_id asc
  </select>
  
  <select id="selectAllByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from goods_attr 
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  
  
   <!-- 获取某个模型某个商品的所有属性 XIEYC -->
    <select id="getModelByGoodsIdAndModelId" resultMap="BaseResultMap">
      SELECT a.* ,b.name attrName from  goods_attr a 
      left JOIN goods_model_attr b on a.attr_id=b.id
      where a.goods_id=#{0}
      and   a.model_id=#{1}
      order by attr_id asc
   </select>
   
</mapper>