<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.goods.mapper.TopicPrizeLogMapper" >
  <resultMap id="BaseResultMap" type="com.bh.goods.pojo.TopicPrizeLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="tg_id" property="tgId" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="is_prize" property="isPrize" jdbcType="INTEGER" />
    <result column="prize_no" property="prizeNo" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, m_id, tg_id, add_time, is_prize, prize_no, order_no, order_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topic_prize_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic_prize_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    insert into topic_prize_log (id, m_id, tg_id, 
      add_time, is_prize, prize_no, 
      order_no, order_id)
    values (#{id,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, #{tgId,jdbcType=INTEGER}, 
      #{addTime,jdbcType=TIMESTAMP}, #{isPrize,jdbcType=INTEGER}, #{prizeNo,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    insert into topic_prize_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
      <if test="tgId != null" >
        tg_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="isPrize != null" >
        is_prize,
      </if>
      <if test="prizeNo != null" >
        prize_no,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="tgId != null" >
        #{tgId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPrize != null" >
        #{isPrize,jdbcType=INTEGER},
      </if>
      <if test="prizeNo != null" >
        #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    update topic_prize_log
    <set >
      <if test="mId != null" >
        m_id = #{mId,jdbcType=INTEGER},
      </if>
      <if test="tgId != null" >
        tg_id = #{tgId,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPrize != null" >
        is_prize = #{isPrize,jdbcType=INTEGER},
      </if>
      <if test="prizeNo != null" >
        prize_no = #{prizeNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    update topic_prize_log
    set m_id = #{mId,jdbcType=INTEGER},
      tg_id = #{tgId,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      is_prize = #{isPrize,jdbcType=INTEGER},
      prize_no = #{prizeNo,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  <select id="listPage" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    select a.*
    from topic_prize_log a left join  topic_goods b on a.tg_id=b.id  where 1=1 
    <if test="shopId!=null and shopId!=1">
    	and  b.sid=#{shopId}
    </if>
    <if test="id!=null">
    	and a.id = #{id}
    </if>
    <if test="mId!=null">
    	and a.m_id = #{mId}
    </if>
    <if test="tgId!=null">
    	and a.tg_id = #{tgId}
    </if>
    <if test="isPrize!=null">
    	and a.is_prize = #{isPrize}
    </if>
    <if test="prizeNo!=null and prizeNo!='' ">
   		and a.prize_no like CONCAT(CONCAT('%', #{prizeNo}), '%')
    </if>
    <if test="orderNo!=null and orderNo!='' ">
   		and a.order_no like CONCAT(CONCAT('%', #{orderNo}), '%')
    </if>
    order by a.add_time desc
  </select>
  
  
  
  <select id="getByMid" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    select 
    <include refid="Base_Column_List" />
    from topic_prize_log
    where m_id = #{0}
  </select>
  
   <select id="logNumByTgId" resultType="java.lang.Integer"  >
      select  count(*)from topic_prize_log  where tg_id = #{tgId}
   </select>
  
  
   <select id="getByMidAndTgId" resultMap="BaseResultMap" parameterType="com.bh.goods.pojo.TopicPrizeLog" >
    select 
    <include refid="Base_Column_List" />
    from topic_prize_log
    where m_id = #{0} and tg_id = #{1}
  </select>
  
  
  
</mapper>