<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.admin.mapper.user.MemberShopAdminMapper" >
  <resultMap id="BaseResultMap" type="com.bh.admin.pojo.user.MemberShopAdmin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="CHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="addtime" property="addtime" jdbcType="INTEGER" />
    <result column="lasttime" property="lasttime" jdbcType="INTEGER" />
    <result column="lastip" property="lastip" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, salt, full_name, tel, role_id, status, addtime, lasttime, 
    lastip, shop_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_shop_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_shop_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.admin.pojo.user.MemberShopAdmin" >
    insert into member_shop_admin (id, username, password, 
      salt, full_name, tel, role_id, 
      status, addtime, lasttime, 
      lastip, shop_id)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{salt,jdbcType=CHAR}, #{fullName,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{addtime,jdbcType=INTEGER}, #{lasttime,jdbcType=INTEGER}, 
      #{lastip,jdbcType=VARCHAR}, #{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.admin.pojo.user.MemberShopAdmin" >
    insert into member_shop_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="lastip != null" >
        lastip,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=CHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=INTEGER},
      </if>
      <if test="lastip != null" >
        #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.admin.pojo.user.MemberShopAdmin" >
    update member_shop_admin
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=CHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="lasttime != null" >
        lasttime = #{lasttime,jdbcType=INTEGER},
      </if>
      <if test="lastip != null" >
        lastip = #{lastip,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.admin.pojo.user.MemberShopAdmin" >
    update member_shop_admin
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=CHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      addtime = #{addtime,jdbcType=INTEGER},
      lasttime = #{lasttime,jdbcType=INTEGER},
      lastip = #{lastip,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>