<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.mapper.CardtlMapper" >
  <resultMap id="BaseResultMap" type="com.bh.pojo.Cardtl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ordernumber" property="ordernumber" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ordernumber, code, sku
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cardtl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cardtl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.pojo.Cardtl" >
    insert into cardtl (id, ordernumber, code, 
      sku)
    values (#{id,jdbcType=INTEGER}, #{ordernumber,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{sku,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.pojo.Cardtl" >
    insert into cardtl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ordernumber != null" >
        ordernumber,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="sku != null" >
        sku,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ordernumber != null" >
        #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        #{sku,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.pojo.Cardtl" >
    update cardtl
    <set >
      <if test="ordernumber != null" >
        ordernumber = #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sku != null" >
        sku = #{sku,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.pojo.Cardtl" >
    update cardtl
    set ordernumber = #{ordernumber,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>