<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.auc.mapper.AuctionHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.bh.auc.pojo.AuctionHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="conf_id" property="confId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="current_periods" property="currentPeriods" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="schedul_num" property="schedulNum" jdbcType="INTEGER" />
    <result column="bargain_price" property="bargainPrice" jdbcType="INTEGER" />
    <result column="bargain_mId" property="bargainMid" jdbcType="INTEGER" />
    <result column="lose_time" property="loseTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="act_price" property="actPrice" jdbcType="INTEGER" />
    <result column="low_price" property="lowPrice" jdbcType="INTEGER" />
    <result column="high_price" property="highPrice" jdbcType="INTEGER" />
    <result column="time_section" property="timeSection" jdbcType="INTEGER" />
    <result column="scope_price" property="scopePrice" jdbcType="INTEGER" />
    <result column="cash_deposit" property="cashDeposit" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, conf_id, type, current_periods, order_id, order_no, schedul_num, bargain_price, 
    bargain_mId, lose_time, start_time, act_price, low_price, high_price, time_section, 
    scope_price, cash_deposit, add_time, update_time, goods_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from auction_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from auction_history
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.auc.pojo.AuctionHistory" useGeneratedKeys="true" keyProperty="id">
    insert into auction_history (id, conf_id, type, 
      current_periods, order_id, order_no, 
      schedul_num, bargain_price, bargain_mId, 
      lose_time, start_time, act_price, 
      low_price, high_price, time_section, 
      scope_price, cash_deposit, add_time, 
      update_time, goods_id)
    values (#{id,jdbcType=INTEGER}, #{confId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{currentPeriods,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{schedulNum,jdbcType=INTEGER}, #{bargainPrice,jdbcType=INTEGER}, #{bargainMid,jdbcType=INTEGER}, 
      #{loseTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{actPrice,jdbcType=INTEGER}, 
      #{lowPrice,jdbcType=INTEGER}, #{highPrice,jdbcType=INTEGER}, #{timeSection,jdbcType=INTEGER}, 
      #{scopePrice,jdbcType=INTEGER}, #{cashDeposit,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{goodsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.auc.pojo.AuctionHistory" useGeneratedKeys="true" keyProperty="id">
    insert into auction_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="confId != null" >
        conf_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="currentPeriods != null" >
        current_periods,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="schedulNum != null" >
        schedul_num,
      </if>
      <if test="bargainPrice != null" >
        bargain_price,
      </if>
      <if test="bargainMid != null" >
        bargain_mId,
      </if>
      <if test="loseTime != null" >
        lose_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="actPrice != null" >
        act_price,
      </if>
      <if test="lowPrice != null" >
        low_price,
      </if>
      <if test="highPrice != null" >
        high_price,
      </if>
      <if test="timeSection != null" >
        time_section,
      </if>
      <if test="scopePrice != null" >
        scope_price,
      </if>
      <if test="cashDeposit != null" >
        cash_deposit,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="confId != null" >
        #{confId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="currentPeriods != null" >
        #{currentPeriods,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="schedulNum != null" >
        #{schedulNum,jdbcType=INTEGER},
      </if>
      <if test="bargainPrice != null" >
        #{bargainPrice,jdbcType=INTEGER},
      </if>
      <if test="bargainMid != null" >
        #{bargainMid,jdbcType=INTEGER},
      </if>
      <if test="loseTime != null" >
        #{loseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actPrice != null" >
        #{actPrice,jdbcType=INTEGER},
      </if>
      <if test="lowPrice != null" >
        #{lowPrice,jdbcType=INTEGER},
      </if>
      <if test="highPrice != null" >
        #{highPrice,jdbcType=INTEGER},
      </if>
      <if test="timeSection != null" >
        #{timeSection,jdbcType=INTEGER},
      </if>
      <if test="scopePrice != null" >
        #{scopePrice,jdbcType=INTEGER},
      </if>
      <if test="cashDeposit != null" >
        #{cashDeposit,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.auc.pojo.AuctionHistory">
    update auction_history
    <set >
      <if test="confId != null" >
        conf_id = #{confId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="currentPeriods != null" >
        current_periods = #{currentPeriods,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="schedulNum != null" >
        schedul_num = #{schedulNum,jdbcType=INTEGER},
      </if>
      <if test="bargainPrice != null" >
        bargain_price = #{bargainPrice,jdbcType=INTEGER},
      </if>
      <if test="bargainMid != null" >
        bargain_mId = #{bargainMid,jdbcType=INTEGER},
      </if>
      <if test="loseTime != null" >
        lose_time = #{loseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actPrice != null" >
        act_price = #{actPrice,jdbcType=INTEGER},
      </if>
      <if test="lowPrice != null" >
        low_price = #{lowPrice,jdbcType=INTEGER},
      </if>
      <if test="highPrice != null" >
        high_price = #{highPrice,jdbcType=INTEGER},
      </if>
      <if test="timeSection != null" >
        time_section = #{timeSection,jdbcType=INTEGER},
      </if>
      <if test="scopePrice != null" >
        scope_price = #{scopePrice,jdbcType=INTEGER},
      </if>
      <if test="cashDeposit != null" >
        cash_deposit = #{cashDeposit,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.auc.pojo.AuctionHistory" >
    update auction_history
    set conf_id = #{confId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      current_periods = #{currentPeriods,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      schedul_num = #{schedulNum,jdbcType=INTEGER},
      bargain_price = #{bargainPrice,jdbcType=INTEGER},
      bargain_mId = #{bargainMid,jdbcType=INTEGER},
      lose_time = #{loseTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      act_price = #{actPrice,jdbcType=INTEGER},
      low_price = #{lowPrice,jdbcType=INTEGER},
      high_price = #{highPrice,jdbcType=INTEGER},
      time_section = #{timeSection,jdbcType=INTEGER},
      scope_price = #{scopePrice,jdbcType=INTEGER},
      cash_deposit = #{cashDeposit,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<select id="getByConfIdAndCurrentPeriods" resultMap="BaseResultMap">
		SELECT *
		FROM auction_history
		WHERE conf_id =#{0} and
		current_periods=#{1}
	</select>

	<select id="getNoRendOrderBargainRecord" resultMap="BaseResultMap">
		SELECT *
		FROM auction_history
		WHERE order_id = 0 and type =1
	</select>

    <select id="getByMidAndCurrentPeriods" resultMap="BaseResultMap" parameterType="com.bh.auc.pojo.AuctionRecord">
      SELECT
      <include refid="Base_Column_List"/>
      FROM auction_history
      WHERE  conf_id =#{0}
      and current_periods=#{1}
      and bargain_mId = #{2}
   </select>

	
	
  <resultMap id="BaseResultMapVo" type="com.bh.auc.vo.AuctionHistoryVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="current_periods" property="currentPeriods" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="bargainPrice" property="bargainPrice" jdbcType="DOUBLE" />
    <result column="bargain_mId" property="bargainMid" jdbcType="INTEGER" />
    <result column="lose_time" property="loseTime" jdbcType="TIMESTAMP" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_image" property="goodsImage" jdbcType="VARCHAR" />
  </resultMap>
  <select id="listPage" resultMap="BaseResultMapVo" parameterType="com.bh.auc.pojo.AuctionRecord">
    SELECT		
    a.id,a.type,a.current_Periods,a.order_no,cast(a.bargain_price/100 as decimal(20,2)) as bargainPrice,
    a.bargain_mid,a.lose_time,a.goods_id,b.goods_name,b.goods_image
    FROM auction_history a ,auction_config b
    where a.conf_id=b.id and  a.type!=0
    <if test="goodsName != null and  goodsName!=''" >
      and  b.goods_name like CONCAT('%', #{goodsName}, '%')
    </if>
    <if test="goodsId != null" >
      and a.goods_id = #{goodsId,jdbcType=INTEGER}
    </if>
    <if test="bargainMid != null" >
      and a.bargain_mid = #{bargainMid,jdbcType=INTEGER}
    </if>
    <if test="orderNo != null and  orderNo!=''" >
      and a.order_no  = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="type != null" >
      and a.type = #{type,jdbcType=INTEGER}
    </if>
    <if test="currentPeriods != null" >
      and a.current_periods = #{currentPeriods,jdbcType=INTEGER}
    </if>
    order by a.add_time desc
  </select>



  

</mapper>