<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.order.mapper.ExchangeSkuMapper" >
  <resultMap id="BaseResultMap" type="com.bh.order.pojo.ExchangeSku" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, sku_id, sort_num, remark, addtime, edittime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exchange_sku
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exchange_sku
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.order.pojo.ExchangeSku" >
    insert into exchange_sku (id, group_id, sku_id, 
      sort_num, remark, addtime, 
      edittime)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{skuId,jdbcType=BIGINT}, 
      #{sortNum,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.order.pojo.ExchangeSku" >
    insert into exchange_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="sortNum != null" >
        sort_num,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="sortNum != null" >
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.order.pojo.ExchangeSku" >
    update exchange_sku
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="sortNum != null" >
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.order.pojo.ExchangeSku" >
    update exchange_sku
    set group_id = #{groupId,jdbcType=INTEGER},
      sku_id = #{skuId,jdbcType=BIGINT},
      sort_num = #{sortNum,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <resultMap id="MyResultMap" type="com.bh.order.pojo.ExchangeGood" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="key_one" property="keyOne" jdbcType="VARCHAR" />
    <result column="value_one" property="valueOne" jdbcType="VARCHAR" />
    <result column="sku_id" property="skuId" jdbcType="BIGINT" />
  </resultMap>
  
  
  <select id="get" resultMap="MyResultMap" parameterType="java.lang.Integer" >
    
    select e.sku_id as sku_id, 
    g.name as name,
    gs.value as value , 
    gs.key_one as key_one ,
    gs.value_one as value_one
    from exchange_sku e, 
    goods g,goods_sku gs
    where e.sku_id = gs.jd_sku_no
    and g.id = gs.goods_id 
    and e.group_id = #{groupId,jdbcType=INTEGER}
  </select>
</mapper>