<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.admin.mapper.goods.ActZoneMapper" >
  <resultMap id="BaseResultMap" type="com.bh.admin.pojo.goods.ActZone" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="reid" property="reid" jdbcType="INTEGER" />
    <result column="is_normal_show" property="isNormalShow" jdbcType="INTEGER" />
    <result column="is_cart" property="isCart" jdbcType="INTEGER" />
    <result column="is_coupon" property="isCoupon" jdbcType="INTEGER" />
    <result column="is_refund" property="isRefund" jdbcType="INTEGER" />
    <result column="is_lock_score" property="isLockScore" jdbcType="INTEGER" />
    <result column="free_postage" property="freePostage" jdbcType="INTEGER" />
    <result column="act_uuid" property="actUuid" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="level_num" property="levelNum" jdbcType="INTEGER" />
    <result column="is_last" property="isLast" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="sort_num" property="sortNum" jdbcType="INTEGER" />
    <result column="failuretime" property="failuretime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, reid, is_normal_show, is_cart, is_coupon, is_refund, is_lock_score, free_postage, 
    act_uuid, image_url, level_num, is_last, addtime, edittime, remark, sort_num,failuretime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from act_zone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.goods.pojo.ActZone" >
    insert into act_zone (id, name, reid, 
      is_normal_show, is_cart, is_coupon, 
      is_refund, is_lock_score, free_postage, 
      act_uuid, image_url, level_num, 
      is_last, addtime, edittime, 
      remark, sort_num)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{reid,jdbcType=INTEGER}, 
      #{isNormalShow,jdbcType=INTEGER}, #{isCart,jdbcType=INTEGER}, #{isCoupon,jdbcType=INTEGER}, 
      #{isRefund,jdbcType=INTEGER}, #{isLockScore,jdbcType=INTEGER}, #{freePostage,jdbcType=INTEGER}, 
      #{actUuid,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR}, #{levelNum,jdbcType=INTEGER}, 
      #{isLast,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{edittime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{sortNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.goods.pojo.ActZone" >
    insert into act_zone
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="reid != null" >
        reid,
      </if>
      <if test="isNormalShow != null" >
        is_normal_show,
      </if>
      <if test="isCart != null" >
        is_cart,
      </if>
      <if test="isCoupon != null" >
        is_coupon,
      </if>
      <if test="isRefund != null" >
        is_refund,
      </if>
      <if test="isLockScore != null" >
        is_lock_score,
      </if>
      <if test="freePostage != null" >
        free_postage,
      </if>
      <if test="actUuid != null" >
        act_uuid,
      </if>
      <if test="imageUrl != null" >
        image_url,
      </if>
      <if test="levelNum != null" >
        level_num,
      </if>
      <if test="isLast != null" >
        is_last,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="sortNum != null" >
        sort_num,
      </if>
      <if test="failuretime != null" >
        failuretime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reid != null" >
        #{reid,jdbcType=INTEGER},
      </if>
      <if test="isNormalShow != null" >
        #{isNormalShow,jdbcType=INTEGER},
      </if>
      <if test="isCart != null" >
        #{isCart,jdbcType=INTEGER},
      </if>
      <if test="isCoupon != null" >
        #{isCoupon,jdbcType=INTEGER},
      </if>
      <if test="isRefund != null" >
        #{isRefund,jdbcType=INTEGER},
      </if>
      <if test="isLockScore != null" >
        #{isLockScore,jdbcType=INTEGER},
      </if>
      <if test="freePostage != null" >
        #{freePostage,jdbcType=INTEGER},
      </if>
      <if test="actUuid != null" >
        #{actUuid,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="levelNum != null" >
        #{levelNum,jdbcType=INTEGER},
      </if>
      <if test="isLast != null" >
        #{isLast,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="failuretime != null" >
        #{failuretime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.goods.pojo.ActZone" >
    update act_zone
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reid != null" >
        reid = #{reid,jdbcType=INTEGER},
      </if>
      <if test="isNormalShow != null" >
        is_normal_show = #{isNormalShow,jdbcType=INTEGER},
      </if>
      <if test="isCart != null" >
        is_cart = #{isCart,jdbcType=INTEGER},
      </if>
      <if test="isCoupon != null" >
        is_coupon = #{isCoupon,jdbcType=INTEGER},
      </if>
      <if test="isRefund != null" >
        is_refund = #{isRefund,jdbcType=INTEGER},
      </if>
      <if test="isLockScore != null" >
        is_lock_score = #{isLockScore,jdbcType=INTEGER},
      </if>
      <if test="freePostage != null" >
        free_postage = #{freePostage,jdbcType=INTEGER},
      </if>
      <if test="actUuid != null" >
        act_uuid = #{actUuid,jdbcType=VARCHAR},
      </if>
      <if test="imageUrl != null" >
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="levelNum != null" >
        level_num = #{levelNum,jdbcType=INTEGER},
      </if>
      <if test="isLast != null" >
        is_last = #{isLast,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="sortNum != null" >
        sort_num = #{sortNum,jdbcType=INTEGER},
      </if>
      <if test="failuretime != null" >
        failuretime = #{failuretime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.goods.pojo.ActZone" >
    update act_zone
    set name = #{name,jdbcType=VARCHAR},
      reid = #{reid,jdbcType=INTEGER},
      is_normal_show = #{isNormalShow,jdbcType=INTEGER},
      is_cart = #{isCart,jdbcType=INTEGER},
      is_coupon = #{isCoupon,jdbcType=INTEGER},
      is_refund = #{isRefund,jdbcType=INTEGER},
      is_lock_score = #{isLockScore,jdbcType=INTEGER},
      free_postage = #{freePostage,jdbcType=INTEGER},
      act_uuid = #{actUuid,jdbcType=VARCHAR},
      image_url = #{imageUrl,jdbcType=VARCHAR},
      level_num = #{levelNum,jdbcType=INTEGER},
      is_last = #{isLast,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      sort_num = #{sortNum,jdbcType=INTEGER},
      failuretime = #{failuretime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="countAll" resultType="java.lang.Integer" parameterType="com.bh.admin.pojo.goods.ActZone" >
    select count(*)
    from act_zone
    <where>
    	name like CONCAT(CONCAT('%', #{0}), '%') and reid = #{1}
    </where>
  </select>
  
  <select id="delectCount" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*)
    from act_zone
    where reid = #{reid,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParent" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name
    from act_zone
    where reid = #{reid,jdbcType=BIGINT}
  </select>
  
    <select id="getListByFirstReid" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone" >
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where id in (select id from act_zone where name like CONCAT(CONCAT('%', #{0}), '%')
    and reid = #{3} order by sort_num asc
    ) limit #{1}, #{2}
  </select>
  
   <select id="getFirstLevelList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from act_zone
    where reid = 0 and level_num = 1
    order by sort_num
  </select>
  
  <select id="getByLevel" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select
    <include refid="Base_Column_List" />
    from act_zone
    where 1=1
    <if test="level_num!=null and level_num!= ''">
    	and level_num = #{level_num}
    </if>
    and is_jd = 0
    order by sort_num
  </select>
  
  <select id="getByReid" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select
    <include refid="Base_Column_List" />
    from act_zone
    where 1=1
    <if test="reid!=null and reid!= ''">
    	and reid = #{reid}
    </if>
    and is_jd = 0
    order by sort_num asc
  </select>


  <insert id="insertParent" parameterType="java.util.Map" >
    insert into act_zone (id, name, reid, sort_num, image) values ${insertParent}
  </insert>
  
  <select id="homeZeroList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where reid = #{reid,jdbcType=BIGINT} order by sort_num desc limit 6 
  </select>
  
  <select id="homeOneList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where reid = #{reid,jdbcType=BIGINT} order by sort_num desc limit 4
  </select>
  
  <select id="homeTwoList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where reid = #{reid,jdbcType=BIGINT} order by sort_num desc limit 10
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_zone
   </select>  
   
   <select id="selectThreeLevel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where level_num = 3
   </select> 
   
   <select id="selectLastLevel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where is_last = 1
   </select> 
   
   <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where name = #{name,jdbcType=VARCHAR}
   </select>
   
   <select id="getListByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where name = #{name,jdbcType=VARCHAR} and level_num = 3
   </select>
   
    <select id="selectUpdateByName" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where name = #{name} and level_num = #{levelNum}
    and id <![CDATA[<>]]>#{id}
   </select> 
   
    <select id="selectByReids" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where reid=#{reid,jdbcType=BIGINT}
   </select> 
   
   <select id="selectTopSix" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
    where level_num = 1 limit 6
   </select>
   
   <select id="selectActZoneList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_zone
   </select>
   
   <select id="batchSelect" resultMap="BaseResultMap" parameterType="java.util.List">
      select
      <include refid="Base_Column_List" />
      from act_zone
      where id in
      <foreach item="id" collection="list" open="(" close=")" separator=",">
          #{id}
      </foreach>
      and level_num = 3 
   </select>
   
   <select id="selectAllByParent" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from act_zone
    where reid = #{reid,jdbcType=BIGINT}
  </select>
   
    <select id="getCatesByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    SELECT t2.*
	    FROM ( 
	        SELECT 
	                @r AS _id, 
	                (SELECT @r := id FROM act_zone WHERE reid = _id ) AS parent_id
	        FROM 
	                (SELECT @r := #{reid}) as condi_id, 
	                act_zone 
	        ) t1 
	    JOIN act_zone t2 
	    ON t1._id = t2.reid 
	    where t2.is_last = 1 UNION SELECT t3.* from act_zone as t3 where t3.id = #{reid} and t3.is_last=1
	    
   </select>
   
   <select id="getByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where name = #{name}
  </select>
  
   <select id="selectAllByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from act_zone 
   </select>
   
   <select id="selectAllByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from act_zone where reid = #{reid,jdbcType=BIGINT} order by sort_num 
   </select>
   
   <select id="getNextByReid" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select 
    <include refid="Base_Column_List" />
    from act_zone where reid = #{reid,jdbcType=BIGINT}
   </select>
   
   <select id="getByLevelNum" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone where level_num = #{levelNum}
    <if test="name!=null and name!=''">
    	and name like CONCAT(CONCAT('%', #{name}), '%')
    </if>
    order by sort_num
   </select>
   
   <select id="selectByNameAndlevelNum" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone where name= #{0} and level_num = #{1} and reid = #{2}
   </select>
   
   <select id="insertselectByName" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone where name= #{0} and level_num = #{1} and reid=#{2}
   </select>
   
    <select id="insertselectByName1" resultMap="BaseResultMap" parameterType="com.bh.admin.pojo.goods.ActZone">
    select 
    <include refid="Base_Column_List" />
    from act_zone where name= #{0} and level_num = #{1} and reid=#{2} and sort_num=#{3}
   </select>
   
   <select id="getUuid" resultType="string">
     SELECT REPLACE (UUID() ,'-','')
   </select>
   
   <!-- cheng -->
    <select id="selectLastLevel1" resultMap="BaseResultMap">
 	select c.*,count(c.id) as count
 	from act_zone c,goods g,goods_favorite f 
 	where is_last = 1
 	and f.m_id= #{reid,jdbcType=BIGINT}
 	and f.goods_id=g.id and g.cat_id=c.id GROUP BY id 
   </select> 
    <select id="selectActZoneById" resultMap="BaseResultMap">
 	select c.*,count(c.id) as count
 	from act_zone c,member_shop_favorite s,member_shop m
 	where 1=1
 	and s.m_id= #{reid,jdbcType=BIGINT} and c.id = m.cat_id and s.shop_id=m.m_id
    GROUP BY id 
   </select>
     <select id="selectHistoryCategory" resultMap="BaseResultMap">
 	select c.* ,count(c.id) from member_user_access_log l, goods g,act_zone c
 	where 1=1
 	and l.m_id= #{reid,jdbcType=BIGINT} 
 	and l.goods_id=g.id and g.cat_id=c.id
    GROUP BY c.id
   </select>
   
    <select id="selectCategoryByreid" resultMap="BaseResultMap">
        select * from act_zone where reid=0
   </select>
 
 
   <select id="selectAllCategory" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from act_zone
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from act_zone
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
   <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByZoneId" parameterType="java.lang.Integer" >
    delete from act_zone_goods
    where zone_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteReid" parameterType="java.lang.Integer" >
    delete from act_zone
    where reid = #{reid,jdbcType=INTEGER}
  </delete>
  
  <select id="selecteByReid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from act_zone
    where reid = #{reid,jdbcType=INTEGER} order by sort_num
  </select>
</mapper>