<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.admin.mapper.goods.ExchangeGroupMapper" >
  <resultMap id="BaseResultMap" type="com.bh.admin.pojo.goods.ExchangeGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="edittime" property="edittime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, addtime, edittime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exchange_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exchange_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.admin.pojo.goods.ExchangeGroup" >
    insert into exchange_group (id, name, addtime, 
      edittime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, 
      #{edittime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.admin.pojo.goods.ExchangeGroup" >
    insert into exchange_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.admin.pojo.goods.ExchangeGroup" >
    update exchange_group
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.admin.pojo.goods.ExchangeGroup" >
    update exchange_group
    set name = #{name,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      edittime = #{edittime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <select id="pageList" resultMap="BaseResultMap"  parameterType="com.bh.admin.pojo.goods.ExchangeGroup" >
    select * from exchange_group
    where 1=1 
    <if test="name != null and name !=''" >
       and  name like concat("%",#{name,jdbcType=VARCHAR},"%")
    </if>
    order by addtime
  </select>
  
  
  <select id="getAll" resultMap="BaseResultMap"  >
    select id ,name from exchange_group
    order by addtime
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap"  parameterType="java.lang.String">
    select * from exchange_group where name=#{name}
  </select>
</mapper>