<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.admin.mapper.goods.ItemModelMapper" >
  <resultMap id="BaseResultMap" type="com.bh.admin.pojo.goods.ItemModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cat_id" property="catId" jdbcType="BIGINT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="cat_id_one" property="catIdOne" jdbcType="BIGINT" />
    <result column="cat_id_two" property="catIdTwo" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bh.admin.pojo.goods.ItemModel" extends="BaseResultMap" >
    <result column="param_data" property="paramData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cat_id, add_time, cat_id_one, cat_id_two
  </sql>
  <sql id="Blob_Column_List" >
    param_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_model
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item_model
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    insert into item_model (id, cat_id, add_time, 
      param_data, cat_id_one, cat_id_two)
    values (#{id,jdbcType=INTEGER}, #{catId,jdbcType=BIGINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{paramData,jdbcType=LONGVARCHAR}, #{catIdOne,jdbcType=BIGINT}, #{catIdTwo,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    insert into item_model
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="paramData != null" >
        param_data,
      </if>
      <if test="catIdOne != null" >
        cat_id_one,
      </if>
      <if test="catIdTwo != null" >
        cat_id_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramData != null" >
        #{paramData,jdbcType=LONGVARCHAR},
      </if>
      <if test="catIdOne != null" >
        #{catIdOne,jdbcType=BIGINT},
      </if>
      <if test="catIdTwo != null" >
        #{catIdTwo,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    update item_model
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=BIGINT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paramData != null" >
        param_data = #{paramData,jdbcType=LONGVARCHAR},
      </if>
      <if test="catIdOne != null" >
        cat_id_one = #{catIdOne,jdbcType=BIGINT},
      </if>
      <if test="catIdTwo != null" >
        cat_id_two = #{catIdTwo,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    update item_model
    set cat_id = #{catId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      param_data = #{paramData,jdbcType=LONGVARCHAR},
      cat_id_one = #{catIdOne,jdbcType=BIGINT},
      cat_id_two = #{catIdTwo,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    update item_model
    set cat_id = #{catId,jdbcType=BIGINT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      cat_id_one = #{catIdOne,jdbcType=BIGINT},
      cat_id_two = #{catIdTwo,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="listPage" resultMap="ResultMapWithBLOBs" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_model
    where 1=1
    <if test="catId !=null and catId !=''">
    	and cat_id = #{catId}
    </if>
    <if test="id !=null and id !=''">
    	and id = #{id}
    </if>
    order by add_time asc
  </select>
  
  <select id="getByCatId" resultMap="ResultMapWithBLOBs" parameterType="com.bh.admin.pojo.goods.ItemModel" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from item_model
    where 1=1
    <if test="catId!=null and catId !=''">
    	and cat_id = #{catId}
    </if>
  </select>
</mapper>