<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!--拍卖师注册为rocketmq的notify主题的生产者-->
    <bean id="producerAuctioneer" class="com.bh.auc.rocketMQ.SpringProducer" init-method="init" destroy-method="destroy">
        <constructor-arg name="nameServerAddr" value="${rocketmq.namesrv}"/>
        <constructor-arg name="producerGroupName" value="auctionNotifyGroup"/>
    </bean>

    <!--拍卖经纪人注册为rocketmq的bid主题的生产者-->
    <bean id="producerBoker" class="com.bh.auc.rocketMQ.SpringProducer" init-method="init" destroy-method="destroy">
        <constructor-arg name="nameServerAddr" value="${rocketmq.namesrv}"/>
        <constructor-arg name="producerGroupName" value="auctionBidGroup"/>
    </bean>
</beans>