<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bh.admin.mapper.order.OrderCollectionDocMapper" >
  <resultMap id="BaseResultMap" type="com.bh.admin.pojo.order.OrderCollectionDoc" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="m_id" property="mId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="coupon_amount" property="couponAmount" jdbcType="INTEGER" />
    <result column="bean_amount" property="beanAmount" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="payment_id" property="paymentId" jdbcType="INTEGER" />
    <result column="admin_user" property="adminUser" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bh.admin.pojo.order.OrderCollectionDoc" extends="BaseResultMap" >
    <result column="note" property="note" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, m_id, amount, coupon_amount, bean_amount, addtime, payment_id, admin_user
  </sql>
  <sql id="Blob_Column_List" >
    note
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from order_collection_doc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_collection_doc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.admin.pojo.order.OrderCollectionDoc" >
    insert into order_collection_doc (id, order_id, m_id, 
      amount, coupon_amount, bean_amount, 
      addtime, payment_id, admin_user, 
      note)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{couponAmount,jdbcType=INTEGER}, #{beanAmount,jdbcType=INTEGER}, 
      #{addtime,jdbcType=TIMESTAMP}, #{paymentId,jdbcType=INTEGER}, #{adminUser,jdbcType=VARCHAR}, 
      #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.admin.pojo.order.OrderCollectionDoc" >
    insert into order_collection_doc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="beanAmount != null" >
        bean_amount,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="paymentId != null" >
        payment_id,
      </if>
      <if test="adminUser != null" >
        admin_user,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=INTEGER},
      </if>
      <if test="beanAmount != null" >
        #{beanAmount,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentId != null" >
        #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="adminUser != null" >
        #{adminUser,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.admin.pojo.order.OrderCollectionDoc" >
    update order_collection_doc
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        m_id = #{mId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=INTEGER},
      </if>
      <if test="beanAmount != null" >
        bean_amount = #{beanAmount,jdbcType=INTEGER},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentId != null" >
        payment_id = #{paymentId,jdbcType=INTEGER},
      </if>
      <if test="adminUser != null" >
        admin_user = #{adminUser,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bh.admin.pojo.order.OrderCollectionDoc" >
    update order_collection_doc
    set order_id = #{orderId,jdbcType=INTEGER},
      m_id = #{mId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      coupon_amount = #{couponAmount,jdbcType=INTEGER},
      bean_amount = #{beanAmount,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      payment_id = #{paymentId,jdbcType=INTEGER},
      admin_user = #{adminUser,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.admin.pojo.order.OrderCollectionDoc" >
    update order_collection_doc
    set order_id = #{orderId,jdbcType=INTEGER},
      m_id = #{mId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      coupon_amount = #{couponAmount,jdbcType=INTEGER},
      bean_amount = #{beanAmount,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      payment_id = #{paymentId,jdbcType=INTEGER},
      admin_user = #{adminUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>